body{
	background-color:#e9e9fc;
	height:1000px;
	font-family:arial;
}

header{
	height:100px;
	background-color:#00a0ff;
	box-shadow: 2px 2px 5px #225, 5px 5px 10px #225;
}

h1{
	position: relative;
	width:fit-content;
	top:20px;
	margin: auto;
	border-radius:15px;
	font-family: 'Laila', serif;
	font-size:60px;
	color:#dfdbee;
	font-style:italic;
	letter-spacing: 20px;
	line-height:50px;
	border-bottom: solid #aaf 7px;
	padding: 0 30px 15px 30px;
	text-shadow: 2px 2px 10px #225;
}

h3{
	color:white;
}

#mainLayout{
	width:80%;
	position: relative;
	top:20px;
}

main{
	position: relative;
	top:50px;
}

#controlPanel{
	position: fixed;
	top:250px;
	right:20px;
}

th{
	font-size:27px;
	font-family: 'Lato', sans-serif;
	transform: translateY(-30px);
	position: absolute;
	letter-spacing: 6px;
	color:#99c;
}

.personBox{
	display: inline-block;
	margin:30px;
	width: 120px;
	height: 120px;
	border-style:solid;
	border-radius:25px;
	background-color: #aaa2b1;
	background-position:center;
	background-size:100px;
	background-repeat:no-repeat;
}
.personBox:hover{
	background-color:#44c3c3;
	cursor: pointer;
}

.description{
	display: none;
	position: relative;
	top:120px;
	border:solid #aaa2b1;
	background-color:aliceblue;
	border-radius:25px;
	padding:15px;
}

.creationContainer{
	display: inline-block;
}
.addPerson{
	color:white;
	font-size: 45px;
	line-height:65px;
	text-align: center;
	margin:30px;
	width: 120px;
	height: 120px;
	border-style:solid;
	border-radius:25px;
	background-color: #aaa2b1;
}
.addPerson:hover{
	background-color:#44c3c3;
	cursor: pointer;
}

#createPerson{
	display:none;
	position: relative;
	top:-55px;
	left:130px;
}
#createPerson header{
	position: absolute;
	top:-110px;
	left:10px;
	width: 180px;
	padding:2px 2px 8px 6px;
	z-index: 3;
}
.spouseCreate{
	display: none;
}
#creationTable{
	position: absolute;
	width: fit-content;
	padding: 10px;
	border:solid;
	border-color:#aaa2b1;
	border-radius:25px;
	font-family:arial;
	background-color:aliceblue;
	z-index: 2
}

.buttonWindow{
	position: relative;
	top:-110px;
 	background-color:aliceblue;
	border:solid;
	border-color:#aaa2b1;
	border-radius:25px;
	width:150px;
	height:fit-content;
	padding:10px 20px 20px 15px;
}
.buttonWindow:hover{
	background-color:#aaaaff;
	cursor: pointer;
}

.btn{
	text-align: center;
	margin-top:1px;
	border-radius:25px;
}

.count{
	font-family:arial;
	position: relative;
	left: 10px;
	top:10px;
	height:fit-content;
	width:120px;
}

.typeBox{
	margin: 10px;
}

.generation{
	height:300px;
	border-bottom:solid black;
}